<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find rl_walker_description)/urdf/bot.xacro'"/>
   
   <include file="$(find rl_walker_gzsim)/launch/env.launch" /> 
   <include file="$(find rl_walker_gzsim)/launch/controllers.launch" /> 


    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.15"/>
        
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
        args="-urdf -param robot_description -model walker -x $(arg x) -y $(arg y) -z $(arg z)" />
  
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen" /> -->

  
</launch>
